// -*- mode: closure-template-html -*-
//
// jsBrowser.tmpl
//
// This file is part of the restas-directory-publisher library, released under Lisp-LGPL.
// See file COPYING for details.
//
// Author: Moskvitin Andrey <archimag@gmail.com>

{namespace restas.jsBrowser.view}

{template mainPage}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    {\n}
    <html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	    <head>
      	    <meta http-equiv="Content-Type" content="text/html; charset={$charset ? $charset : 'utf-8'}" />

            <title>restas-directory-publisher demo: jsBrowser</title>
            
            <script src="http://code.jquery.com/jquery-1.4.3.min.js" type="text/javascript"></script>
            <script src="static/jsBrowserTemplates.js" type="text/javascript"></script>
            <script src="static/jsBrowser.js" type="text/javascript"></script>

            <link href="static/style.css" rel="stylesheet" type="text/css" />
	    </head>

	    <body>
            <h1>None</h1>
            <div id="content">
            </div>
        </body>
    </html>
{/template}


{template directoryBrowse}
    <table summary="Directory Listing" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th class="n">Name</th>
                <th class="m">Last Modified</th>
                <th class="s">Size</th>
                <th class="t">Type</th></tr>
        </thead>

        <tbody>
            {if $parent}
                <tr>
                    <td class="n">
                        <span class="directory" href="{$parent}">Parent Directory</span>
                    </td>
                    <td class="m">&nbsp;</td>
                    <td class="s">- &nbsp;</td>
                    <td class="t">Directory</td>
                </tr>
            {/if}

            {foreach $path in $paths}
                <tr>
                    <td class="n">
                        <span class="{$path.type == 'Directory' ? 'directory' : 'file'}" href="{$path.href}">
                            {$path.name}
                        </span>
                        {nil}
                        {if $path.type == 'Directory'}/{/if}
                    </td>
                    <td class="m">{$path.lastModified}</td>
                    <td class="s">{$path.size ? $path.size : '- &nbsp;' |noAutoescape}</td>
                    <td class="t">{$path.type}</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/template}
